.top-content {
  width: 100%;
  padding-top: 870px - 770px;
  margin-bottom: 100px;
}

.about {
  text-align: center;
  margin-bottom: 1175px - (110px + 1000px);
}

.about-title {
  font-family: Raleway;
  color: #7b6c63;
  font-size: 4.987rem;
  font-weight: 500;
  margin-bottom: 960px - (873px + 37px);
}

.about-underline {
  display: inline-block;
  background-color:  #7b6c63;
  width: 76px;
  height: 6px;
  margin-bottom: 1000px - (960px + 5px);
}

.about-text {
  font-family: HiraKakuPro;
  color:  #212121;
  font-size: 2.992rem;
  line-height: 1.334;
}

.service {

}

.service-content {
  text-align: center;
  margin-bottom: 1470px - (1290px + 100px);
}

.service-img {
  margin-bottom: 1240px - (1174px + 31px);
}

.service-title {
  font-family: Raleway;
  color: #363636;
  font-weight: 400;
  font-size: 3.6rem;
  margin-bottom: 1290px - (1235px + 27px);
}

.service-text {
  font-family: HiraKakuPro;
  color: #949494;
  font-size: 2.6rem;
  line-height: 1.465;
}

