.footer {
  height: 70px;
  width: 100%;
  background-color:  #1c1c1c;
}

.copyright {
  display: block;
  text-align: center;
  padding-top: 2170px - 2145px;
  font-family: Raleway;
  color:  #595959;
  font-size: 1.929rem;
  font-weight: 500;
}