.header {
  width: 100%;
  height: 95px;
  background-color: #000;
}

.header-logo {
  float: left;
  padding-top: 26px;
  font-size: 4.4rem;
  font-weight: 500;
  font-family: Raleway;
  color: #FFF;
  letter-spacing: 0.2rem;
}

.nav {
  float: right;
  padding-top: 32px;
}

.toggle {
  display: block;
}

.menu-button {
  display: block;
  background-color:  #ffffff;
  width: 48px;
  height: 4px;
  margin-bottom: 10px;
}

.menu {
  display: none;
}