.header {
  width: 100%;
  height: 65px;
  padding-top: 30px;
  background-color: #000;
}

.header-logo {
  float: left;
  font-size: 4.994rem;
  font-weight: 500;
  font-family: Raleway;
  color: #FFF;
}

.nav {
  float: right;
}

.toggle {
  display: block;
}

.menu-button {
  display: block;
  background-color:  #ffffff;
  width: 48px;
  height: 4px;
  margin-bottom: 10px;
}

.menu {
  display: none;
}